#cucure{
    border-radius:4px 4px 1px 1px;
    border-color: aliceblue;
    left:130px;
    bottom:20px;
    height:25px;
    width:50px;
    background-image: url("../images/Jj1.png");
    background-color: aliceblue;
    background-repeat: no-repeat;
    position:absolute;
    border: solid 4px;
    
}

.bloc{
    border-radius:2px;
    height:20px;
    width:50px;
    background-image: url("../images/gg1.png");
    background-repeat: no-repeat;
    position:absolute;
    
}

.bloc2{
    border-radius:4px;
    height:20px;
    width:50px;
    position:absolute;
    background-image: url("../images/Ss1.png");
    background-repeat: no-repeat;
    border: brown 2px;
}

#babale{
border-radius:400px;
left:100px;
top:150px;
height:50px;
width:50px;
background-image:url("../images/rr2.png");
background-color: blue;
background-repeat: no-repeat;
position:absolute;
}

#ctn{

position:relative;
height:800px;
width:590px;
background:gray;
background-color: white;
margin:auto;
margin-top:50px;
border:solid 4px black;

}

