* { 
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.niveau {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: black;
}

a {
    text-decoration: none;
    color: #DCCA87;
    padding: 10px;
    border-radius: 10px;
}

a:hover {
    background-color: white;
    color: black;
}

canvas { 
    background-color: white;
    border: 2px black solid;
    display: block; 
    margin: 0 auto; 
}

/* Teddy */

.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #eee;
    cursor: pointer;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    box-shadow: none;
}


.card:hover {
    box-shadow: inset 0 0 0 1px black;
    box-sizing: border-box;
}

.axel {
    background-image: url("axeltete.png");
    background-size: cover;
}

.guillaume {
    background: no-repeat center url("g1.png");
}

.jjj {
    background: no-repeat center url("J1.png"); 
}

.romain1 {
    background: no-repeat center url("r1.png");  
}

.romain2 {
    background: no-repeat center url("r2.png");  
}

.steven {
    background: no-repeat center url("S1.png");
}

.johann {
    background: no-repeat center url("johann.PNG");  
}

.jordan {
    background: no-repeat center url("Jordan.PNG");   
}

.color-hidden {
    background-image: none;
    background-color: #eee;
}
